/* line 17, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
$break-1	: 6;	//
$break-2	: 8;	// iPad (Portrait) 728
$break-3	: 12;	//
*/
@-ms-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-webkit-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* line 40, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 42, ../sass/screen.scss */
html {
  font-size: 100%;
}

/* line 45, ../sass/screen.scss */
html {
  /*  background: url(../img/brixton_2560_1920_25.jpg) no-repeat 100% 20% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

/* line 53, ../sass/screen.scss */
body {
  /* this is now in default.scss */
  /*  font-family:Ubuntu, sans-serif;
    line-height:1.4;
    font-size:16px;
    font-size:100%;
    //background: #f9fdfd;
    color: #464646;*/
}

/* line 66, ../sass/screen.scss */
.page {
  *zoom: 1;
  max-width: 19em;
  _width: 19em;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 30em) {
  /* line 66, ../sass/screen.scss */
  .page {
    max-width: 29em;
  }
}
@media (min-width: 37.5em) {
  /* line 66, ../sass/screen.scss */
  .page {
    max-width: 39em;
  }
}
@media (min-width: 50em) {
  /* line 66, ../sass/screen.scss */
  .page {
    max-width: 59em;
  }
}
/* line 72, ../sass/screen.scss */
.page nav li {
  display: block;
}
@media (min-width: 30em) {
  /* line 87, ../sass/screen.scss */
  .page h1 {
    font-size: 2.5em;
  }
}
@media (min-width: 37.5em) {
  /* line 94, ../sass/screen.scss */
  .page html {
    background: url(../img/brixton_2560_1920_25.jpg) no-repeat 100% 20% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  /* line 101, ../sass/screen.scss */
  .page header {
    background: rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.25s linear 0s;
    -moz-transition: all 0.25s linear 0s;
    -ms-transition: all 0.25s linear 0s;
    -o-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
  }
  /* line 105, ../sass/screen.scss */
  .page header:hover {
    background: rgba(0, 0, 0, 0.25);
  }
  /* line 111, ../sass/screen.scss */
  .page nav ul {
    line-height: 5;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
  }
  /* line 134, ../sass/screen.scss */
  .page nav li {
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
    -webkit-transition: all 0.75s linear 0s;
    -moz-transition: all 0.75s linear 0s;
    -ms-transition: all 0.75s linear 0s;
    -o-transition: all 0.75s linear 0s;
    transition: all 0.75s linear 0s;
  }
  /* line 147, ../sass/screen.scss */
  .page nav li:last-of-type {
    -webkit-border-radius: 0 1em 1em 0;
    -moz-border-radius: 0 1em 1em 0;
    -ms-border-radius: 0 1em 1em 0;
    -o-border-radius: 0 1em 1em 0;
    border-radius: 0 1em 1em 0;
  }
  /* line 150, ../sass/screen.scss */
  .page nav li:first-of-type {
    -webkit-border-radius: 1em 0 0 1em;
    -moz-border-radius: 1em 0 0 1em;
    -ms-border-radius: 1em 0 0 1em;
    -o-border-radius: 1em 0 0 1em;
    border-radius: 1em 0 0 1em;
  }
  /* line 153, ../sass/screen.scss */
  .page nav li:hover {
    -webkit-box-flex: 10;
    -moz-box-flex: 10;
    box-flex: 10;
    font-style: italic;
    background: rgba(250, 244, 10, 0.25);
  }
  /* line 163, ../sass/screen.scss */
  .page nav a {
    display: block;
    font-size: 1em;
    color: #ffd90e;
    text-decoration: none;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  /* line 170, ../sass/screen.scss */
  .page nav a:hover {
    color: black;
    text-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.5);
  }
  /* line 177, ../sass/screen.scss */
  .page h1 {
    font-size: 3.25em;
    margin-bottom: 1em;
  }
}
@media (min-width: 50em) {
  /* line 187, ../sass/screen.scss */
  .page h1 {
    font-size: 4em;
  }
}

/* line 193, ../sass/screen.scss */
footer {
  clear: both;
  display: block;
}

/* line 197, ../sass/screen.scss */
h1 {
  color: white;
}
