/* line 1, ../sass/svg.scss */
h1 svg:not(:root), symbol, image, marker, pattern {
  overflow: visible;
  /*  height: 90px;
    overflow: visible;*/
  width: 100%;
}

/* line 9, ../sass/svg.scss */
h1 text {
  font-size: 7vh;
  font-weight: 700;
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-opacity: .09;
  stroke-linejoin: bevel;
  letter-spacing: 1;
  text-shadow: 0px 0px 3px #ffffff;
}
/* line 19, ../sass/svg.scss */
h1 text:hover {
  stroke-opacity: .9;
  stroke: hotpink;
  stroke-width: 3px;
}
