// ---------------------------------------------------------------------------
// Imports

@import "base";
//@import "compass";

/* -------------------------------------------------------------------------*/

@-ms-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@-webkit-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  font-size:100%;
}
body {
  font-family:'Ubuntu Mono', sans-serif;
  line-height:1.625;
  font-size:16px;
  font-size:1rem;
  background: #f9fdfd;
  color: #464646;
}

h1:first-letter {
    background:$aab_grey;
    color:$aab_cream;
    padding:0 .15em;
}


/* Layout */
.page {
  // page acts as a container for our grid.
  //@include susy-grid-background;
  @include container;
  //@include box-sizing(border-box);
  max-width: 71.25em;
  padding-top:101px;
  @media screen and (max-width: $break-568) {
   padding-left: 0;
    padding-right: 0;
  }
  @media screen and (max-width: $break-1024) {
  width: 98%;
  }
}

.page p {
  font-size:14px;
  font-size:.875rem;
  @media screen and (max-width: $break-1024) {
  color:hotpink;
  }
  }

// header and footer are full-width by default.
  /*header,*/
  footer { clear: both; }
  footer {background:rgba(#00a5a5,.5)}
  header {
    padding:$gutter-width / 2;
    position:fixed;
    background: rgba(255,255,255,.5);
    width: 100%;
    z-index: 2;
    //@include span-columns(12 omega,12);
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: #ffffff; // Old browsers
    @include filter-gradient(#ffffff, #000000, vertical); // IE6-8
    // IE9 SVG, needs conditional override of 'filter' to 'none'
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top,  #ffffff 0%,#000000 100%));
    h1 {
      font-weight:700;
      font-size:50px;
      font-size:3.125rem;
    }
    @media screen and (max-width: $break-320) {
     h1 {
       font-size:26px;
       font-size:2.14285714rem;
       color: #3a6124;
     }
    }
  img {
    width:60px;
    height:auto;
  }
  }
  // nav spans 4 columns of total 12.
  nav {
    //@include span-columns(3 alpha,12);
    font-size: 150%;
    background: $aab_grey;
    letter-spacing: 2px;
      a {
        display:block;
        padding: $gutter-width / 4 0 $gutter-width / 4 $gutter-width / 2;
        color: $aab_cream;
        text-decoration: none;
        font-weight: 600;
        text-shadow: 1px 1px 1px black;
        &:hover {
          background-color: lighten($aab_grey, 10%);
          color: darken($aab_cream,40%);
        }
      }
    @media screen and (min-width: $break-600) {
      //display:none;
    }
    @media screen and (max-width: $break-600) {
      font-size: 15px;
      font-size: .9375rem;
      text-decoration: none;
    }
    @media screen and (max-width: $break-568) {
      font-size:14px;
      font-size:.875rem;
      @include span-columns(12 omega,12);
      padding:0;
      background: $aab_cream;
      ul {
        @include span-columns(12 omega,12);
      }
      a {
        display: block;
        padding: $gutter-width / 2;
        text-decoration: none;
        font-weight: 600;
        font-size:1.2em;
        color: $aab_grey;
        text-shadow: none;
        font-weight: 500;
        padding:0;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
.content {
  //@include span-columns(12 omega,12);
  /*
  @media screen and (max-width: $break-568) {
    @include span-columns(12 omega,12);
    height: auto;
  }
  */
}
  section {
    padding:$gutter-width;
    border-bottom:1px dotted $aab_grey;
    h1 {
      font-weight:500;
      font-size: 24px;
      font-size: 1.5rem;
      border-bottom:solid 1px $aab_grey;
      @include span-columns(12 omega,12);
      margin: auto;
      //background: lighten ($aab_cream,5%);
      float:none;
      &:first-letter {
        background: inherit;
        color: inherit;
        padding: inherit;
      }
    }
    @media screen and (max-width: $break-568) {
      @include span-columns(12 omega,12);
      background: red;
    }
  }
// main content spans 4 of those 8 columns.
    .main {
		@include span-columns(4,8);
		//background:#363636;
		color:#f3f3f3;
		opacity:.75;
		}


// generic class

.toTop {
  position:relative;
  float:right;
  font-size:14px;
  font-size:.875rem;
  margin-top:0;
  display:none;
  a {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
	display:block;
    width: 0px;
    height: 0px;
    border-style:solid;
    border-width: 10px;
    border-top-style:none;
    border-left-color:transparent;
    border-right-color:transparent;
    border-bottom-color:#464646;
    _border-color: #000000 #000000 #2e2e2e #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    transition: all .5s 0s ;
    &:hover {
      opacity:.6;
      border-width: 20px;
      margin-right:-11px;
    }
  }
}