// ---------------------------------------------------------------------------
// Imports

@import "base";
//@import "susy";

$total-columns  : 4;              // a 4-column grid for Mobile First
$column-width   : 4em;          // each column is 3.8em wide
$gutter-width   : 1em;          // 1em gutters between columns
$grid-padding   : 0 ;  // grid-padding equal to half gutters

/*
$break-1	: 6;	//
$break-2	: 8;	// iPad (Portrait) 728
$break-3	: 12;	//
*/



@-ms-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@-webkit-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  font-size:100%;
}
html {
/*  background: url(../img/brixton_2560_1920_25.jpg) no-repeat 100% 20% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/

}
body {
  /* this is now in default.scss */
/*  font-family:Ubuntu, sans-serif;
  line-height:1.4;
  font-size:16px;
  font-size:100%;
  //background: #f9fdfd;
  color: #464646;*/
}
$break1 :30em, 6; // 480px
$break2: 37.5em, 8; // 600px
$break3 :50em, 12; // 800px

.page {
  @include container ($total-columns, $break1,  $break2, $break3);
  //@include susy-grid-background;
  nav {
	//background: rgba(255, 105, 180, 0.58);

	li {
	  display: block;
	}


  }
  @include at-breakpoint($break1)  {
	//@include susy-grid-background;
	nav {
	  //background: rgba(0, 0, 255, 0.58);

	  li {
		//display:inline-block;
	  }
	}
	h1 {
	  font-size:2.5em;
	}

  }
  @include at-breakpoint($break2)  {
	//@include susy-grid-background;
    html {
      background: url(../img/brixton_2560_1920_25.jpg) no-repeat 100% 20% fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    header {
      background: rgba(0, 0, 0, .75);

      @include vendorprefix(transition, all .25s linear 0s);
      &:hover  {
        background: rgba(0, 0, 0, .25);
      }
    }
	nav {
	  //background: rgba(252, 153, 11, 0.73);
		ul {
		  line-height:5;
		  width: 100%;
		  display: -webkit-box;
		  display: -moz-box;
		  display: box;
		  -webkit-box-orient: horizontal;
		  -moz-box-orient: horizontal;
		  box-orient: horizontal;

		  -webkit-box-align: stretch;
		  -moz-box-align: stretch;
		  box-align: stretch;

		  -webkit-box-direction: normal;
		  -moz-box-direction: normal;
		  box-direction: normal;

		  -webkit-box-pack: start;
		  -moz-box-pack: start;
		  box-pack: start;
		  //@include span-columns(12 omega,12);
		}
	  	li {
		text-align:center;
		//background: rgba(250, 244, 10, 0.25);
        background: rgba(255,255,255,.5);
		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		box-flex: 1;
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		box-ordinal-group: 1;
		//margin-right: 2em;
		@include vendorprefix(transition, all .75s linear 0s);
		//@include span-columns(4,12);
		&:last-of-type {
		@include vendorprefix(border-radius, 0 1em 1em 0);
		}
		&:first-of-type {
			@include vendorprefix(border-radius, 1em 0 0 1em);
		  }
		&:hover {
		  -webkit-box-flex: 10;
		  -moz-box-flex: 10;
		  box-flex: 10;
		  font-style: italic;
		  //background: rgba(255,255,255,.5);
          background: rgba(250, 244, 10, 0.25);
		  //@include vendorprefix(transition, all 1s linear 0s);
		}
	}
	  a {
	   display:block;
	   font-size:1em;
	   color: rgb(255, 217, 14);
	   text-decoration: none;
	   text-shadow: 1px 1px 5px rgba(0,0,0,.5);
	   //@include vendorprefix(transition, all .25s linear 0s);
	   &:hover {
		 color:black;
		 text-shadow: inset 2px 2px 5px rgba(255,255,255,.5);
		 //@include vendorprefix(transform,rotate(270deg));
	   }
	 }
	}
	h1 {
	  font-size:3.25em;
      margin-bottom: 1em;
	  }
  }
  @include at-breakpoint($break3)  {
	//@include susy-grid-background;
	nav {
	  //background: rgba(124, 252, 0, 0.58);
	}
	h1 {
	  font-size:4em;
	}
  }

}
footer{
  clear:both;
  display:block;
}
h1 {
  color:white;
}

