h1 svg:not(:root), symbol, image, marker, pattern {
  overflow: visible;
  /*  height: 90px;
    overflow: visible;*/
  width: 100%; }

h1 text {
  font-size: 7vh;
  font-weight: 700;
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-opacity: .9;
  stroke-linejoin: bevel;
  letter-spacing: 1; }
